WORDPRESS_DOMAIN=example.com
WORDPRESS_TITLE=Immutable Network
WORDPRESS_ADMIN_USER=networkadmin
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_ADMIN_PASSWORD=change-me-with-at-least-12-characters
SERVICE_PASSWORD_MARIADB=change-me-mariadb-root
SERVICE_PASSWORD_WORDPRESS=change-me-wordpress-db
WORDPRESS_BOOTSTRAP_PRESET=immutable
WORDPRESS_FILESYSTEM_MODE=immutable
WORDPRESS_VERSION=7.0.2
LITESPEED_CACHE_VERSION=7.8.1
REDIS_CACHE_VERSION=2.8.0
ELASTICPRESS_VERSION=5.3.3
LITESPEED_CACHE_SHA256=b4c550a197f30212ab59489f75eb00e3610253db9ee3d837b1e8f7bf8ba803a9
REDIS_CACHE_SHA256=f077ac8b9c154cee936d3872b0734d42f7fd7f350e68fe8b2b20a69e854980cd
ELASTICPRESS_SHA256=157cd901955a7da718301431f668e9abcac48d41b8392897c3c4ccc93e820813
WORDPRESS_LOCALE=it_IT
COMPOSE_PROFILES=
